
.dark-constexpr-body {
/*	background-color: #000D00;*/
	background-color: #0F1617;
}
.dark-constexpr-title {
	color: #FFFFFF;
}
.dark-constexpr-text {
	color: #C5C7C6;
}
.dark-constexpr-offset {
	margin-left: 46px;
	margin-right: 46px;
}
.paper-back {
	background-color: #FBFAF5;
}

.top-container {
	background-image: url(../images/dark-constexpr_2.jpg);
	min-height: 1617px;
	background-repeat: no-repeat
}
a.top-link {
	display: block;
	width: 1140px;
	height: 456px;
}
