
.dark-constexpr-body {
	background-color: #000D00;
}
.dark-constexpr-title {
	color: #FFFFFF;
}
.dark-constexpr-text {
	color: #C5C7C6;
}
.dark-constexpr-offset {
	margin-left: 46px;
	margin-right: 46px;
}
.paper-back {
	background-color: #FBFAF5;
}
